h1{
    text-align: center;
    /* color: linear-gradient(to bottom right,#FF7777,#2683F5,#00DAA2) no-repeat; */
    background: -webkit-linear-gradient(45deg, #FF7777,#2683F5,#00DAA2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html{
    height: 100%;
    font-family: Gotham SSm,Open Sans,sans-serif;;
}
body{
    margin: 0px;
    background: #1F1F21;
    height: 100%;
    width: 100%;
}

div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}